<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>
<h1>タスク一覧</h1>
<table>
    <thead>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>進捗状況</th>
        <th>〆切</th>
        <th>作成時刻</th>
        <th>更新時刻</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tasks.isEmpty()}">
        <td colspan="6"> データなし</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}" style="text-align: left;"></td>
        <td th:text="${task.description}" style="text-align: left;"></td>
        <td th:text="${task.taskStatusEnum}" style="text-align: left;"></td>
        <td th:text="${task.dueDate}" style="text-align: left;"></td>
        <td th:text="${task.createdAt}" style="text-align: left;"></td>
        <td th:text="${task.updatedAt}" style="text-align: left;"></td>
    </tr>
    </tbody>
</table>
</body>
</html>