<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク一覧</title>
</head>
<body>
<h1>タスク一覧</h1>

<table>
    <thead>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>進捗状況</th>
        <th>〆切</th>
        <th>作成日時</th>
        <th>更新日時</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${tasks.isEmpty()}">
        <td colspan="6"> データなし</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}" style="text-align: left;"></td>
        <td th:text="${task.description}" style="text-align: left;"></td>
        <td th:text="${task.taskStatus}" style="text-align: left;"></td>
        <td th:text="${task.dueDate}" style="text-align: left;"></td>
        <td th:text="${task.createdAt}" style="text-align: left;"></td>
        <td th:text="${task.updatedAt}" style="text-align: left;"></td>
        <td style="text-align: center;">
            <a th:href="@{/tasks/delete(id=${task.id})}">削除</a></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/hello}">Homeへ戻る</a>

</body>
</html>